<div class="container-xxl py-3">

  <h1>{{title | titlecase}}</h1>
  <p class="para">Lorem ipsum dolor sit amet consectetur adipisicing elit. Beatae ex architecto minima, saepe quae atque, accusamus perspiciatis eius blanditiis ratione aut ullam illo possimus at quibusdam soluta id ducimus et. Lorem ipsum dolor, sit amet consectetur adipisicing elit.</p>

  
  <!-- <section>
  <h2>Template Driven Form</h2>
  <form novalidate #loginform="ngForm" (ngSubmit)="onSubmit(loginform)">
    <div class="row mb-3 align-items-center">
      <label for="name" class="col-sm-2 col-form-label">Name</label>
      <div class="col-sm-5">
        <input type="text" class="form-control" id="name" name="name" required [(ngModel)]="model.name" #name="ngModel">
      </div>
      <div class="col-sm-5">
        <span class="text-danger" [hidden]="name.valid">Enter Name</span>
        <span class="text-success" [hidden]="name.invalid">Name Accepted</span>
      </div>
    </div>
    <div class="row mb-3 align-items-center">
      <label for="email" class="col-sm-2 col-form-label">Email</label>
      <div class="col-sm-5">
        <input type="email" pattern="[\w]{1,}@[\w]{1,}\.[\w]{2,}" class="form-control" id="email" name="email" required [(ngModel)]="model.email" #email="ngModel">
      </div>
      <div class="col-sm-5">
        <span class="text-danger" [hidden]="email.valid || email.dirty">Enter Email</span>
        <span class="text-danger" [hidden]="email.valid || email.pristine">Invalid Email</span>
        <span class="text-success" [hidden]="email.invalid">Email Accepted</span>
      </div>
    </div>
    <div class="row mb-3 align-items-center">
      <label for="pass" class="col-sm-2 col-form-label">Password</label>
      <div class="col-sm-5">
        <input type="password" minlength="6" class="form-control" id="pass" name="pass" required [(ngModel)]="model.pass" #pass="ngModel">
      </div>
      <div class="col-sm-5">
        <span class="text-danger" [hidden]="pass.valid || pass.dirty">Enter Password</span>
        <span class="text-danger" [hidden]="pass.valid || pass.pristine">Invalid Password</span>
        <span class="text-success" [hidden]="pass.invalid">Password Accepted</span>
      </div>
    </div>
    <div class="row mb-3 align-items-center">
      <label class="col-sm-2 col-form-label">Gender</label>
      <div class="col-sm-5">
        <label class="col-form-label"><input type="radio" name="gender" value="female" required [(ngModel)]="model.gender" #gender="ngModel"> Female</label>
        <label class="col-form-label"><input type="radio" name="gender" value="male" required [(ngModel)]="model.gender" #gender="ngModel"> Male</label>
      </div>
      <div class="col-sm-5">
        <span class="text-danger" [hidden]="gender.valid">Choose Gender</span>
        <span class="text-success" [hidden]="gender.invalid">Gender Selected</span>
      </div>
    </div>
    <div class="row mb-3 align-items-center">
      <label for="city" class="col-sm-2 col-form-label">City</label>
      <div class="col-sm-5">
        <select id="city" class="form-select" name="city" required [(ngModel)]="model.city" #city="ngModel">
          <option value="" selected disabled>---Choose City--</option>
          <option>New Delhi</option>
          <option>Chennai</option>
        </select>
      </div>
      <div class="col-sm-5">
        <span class="text-danger" [hidden]="city.valid">Choose City</span>
        <span class="text-success" [hidden]="city.invalid">Valid City</span>
      </div>
    </div>
    <div class="row mb-3 align-items-center">
      <label for="terms" class="col-auto form-check-label">Terms and Conditions</label>
      <div class="col-sm-5">
        <input type="checkbox" class="form-check-input" name="terms" id="terms" required [(ngModel)]="model.terms" #terms="ngModel">
      </div>
      <div class="col-sm-5">
        <span class="text-danger" [hidden]="terms.valid">Not Agree</span>
        <span class="text-success" [hidden]="terms.invalid">Agree</span>
      </div>
    </div>
    <div class="row mb-3">
      <div class="col-sm-2"></div>
      <div class="col-sm-auto">
        <button type="submit" class="btn btn-primary" [disabled]="loginform.invalid">Submit</button>
        <button type="reset" (click)="loginform.reset()" class="btn btn-outline-primary">Reset</button>
      </div>
    </div>

  </form>
  </section> -->

  <section>
    <!-- <h2>Reactive Form</h2> -->
    <!-- <form novalidate class="row align-items-center" [formGroup]="loginform" (ngSubmit)="loginUser()">
      
      <div class="col-auto"><label class=" form-label" for="email">Email: </label></div>
      <div class="col-auto"><input type="email" class="form-control" id="email" name="email" formControlName="email"></div>
      <div class="col-auto">
        <i *ngIf="loginform.get('email')?.hasError('required') && loginform.get('email')?.pristine">Enter Email</i>
        <i *ngIf="loginform.get('email')?.invalid && loginform.get('email')?.dirty">Email Invalid</i>
        <i *ngIf="loginform.get('email')?.valid && loginform.get('email')?.dirty">Email Valid</i>
      </div>
      <div class="w-100 my-3"></div>

      <div class="col-auto"><label for="pass" class="form-label">Password:</label></div>
      <div class="col-auto"><input class="form-control" type="password" name="pass" formControlName="pass" id="pass"></div>
      
      <div class="col-auto">
        <i *ngIf="loginform.get('pass')?.hasError('required') && loginform.get('pass')?.pristine">Enter password</i>
        <i *ngIf="loginform.get('pass')?.invalid && loginform.get('pass')?.dirty">Invalid password</i>
        <i *ngIf="loginform.get('pass')?.valid && loginform.get('pass')?.dirty">Valid password</i>
      </div>
      <div class="w-100 my-3"></div>

      <div class="col-auto"><label for="age" class="form-label">Age:</label></div>
      <div class="col-auto"><input class="form-control" type="number" name="age" formControlName="age" id="age"></div>
      <div class="col-auto">
        <i *ngIf="loginform.get('age')?.hasError('required') && loginform.get('age')?.pristine">Enter Age</i>
        <i *ngIf="loginform.get('age')?.invalid && loginform.get('age')?.dirty">Invalid age</i>
        <i *ngIf="loginform.get('age')?.valid && loginform.get('age')?.dirty">Valid age</i>
      </div>
      
      <div class="w-100 my-3"></div>
      <div class="col-auto">
          <p>{{loginform.status }}</p>
          <p></p>
      </div>
      <div class="w-100 my-3"></div>
      <div class="col-auto">
        <button type="submit" class="btn btn-outline-primary">Submit</button>
        <button type="button" class="btn btn-outline-primary" (click)="setVal()">setValue</button>
        <button type="button" class="btn btn-outline-primary" (click)="patchVal()">patchValue</button>
      </div>
      
  
      
      </form> -->
  
      <!-- <form novalidate class="row align-items-center" [formGroup]="loginForm" >
      
        <div class="col-auto"><label class=" form-label" for="email">Email: </label></div>
        <div class="col-auto"><input type="email" class="form-control" id="email" name="email" ></div>
        <div class="col-auto"><label class=" form-label" for="pass">Password: </label></div>
        <div class="col-auto"><input type="password" class="form-control" id="pass" name="pass" ></div>
        <div class="col-auto"><button class="btn btn-outline-primary">Submit</button></div>
      

      </form> 

      <p>{{loginForm.value.email}}</p> -->

      
       
    </section>

  <app-course></app-course>

</div>